*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;

}

.container{
    background-color: rgb(166, 234, 234);
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
    background-image: linear-gradient(#a1c4fd  , #c2e9fb);

}
input[type="text"],input[type="email"],input[type="number"],input[type="password"],input[type="date"],select,textarea,fieldset {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
}

fieldset{
    background-color: #fff;
    border: 1px solid #ccc;
}
.main_heading{
    text-align:center;
    background-color: #c2e9fb;
    border: 2px  solid #ccc;
    padding: auto;
    border-radius: 10px;
}

input[type="button"]
{
    background-color: yellow;
    padding: 12px 20px;
    margin-top: 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 50%;
    position: relative;
    font-size: 18px;
    
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);    
}

input[type="button"]:hover{
    background-color: #50f627;
}
